[user]
	name = Ole Rößner
	email = o.roessner@neusta.de
[merge]
	ff = false
[push]
	default = current
[core]
	autocrlf = input
	excludesfile = /home/oroessner/.gitignore_global
	editor = vim
[alias]
    pl = pull --rebase
    co = checkout
    ci = commit
    st = status
    br = branch
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[http]
[https]
